<div class="card my-4">
    <a href="{{instance.get_absolute_url}}" style="text-decoration:inherit;color:inherit;">
        <div class="card-header" style="background: #ffdfba;">
            <h5 class="card-title">{{ instance.title }}</h5>
        </div>
        {% if instance.image %}
        <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }}">
        {% endif %}
    </a>
    <div class="card-body">
        <!-- <h5 class="card-title">{{ instance.title }}</h5> -->
        <h3 class="card-text">&#8377;{{instance.price}}</h3>
        <a href="{{instance.get_absolute_url}}" class="btn btn-primary">View</a>
    </div>
</div>
