<footer class="footer mt-auto pt-4" style="background-color: #bbded6;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<h5>About Us</h5>
				<p>
					Box of Happiness is a home bakery which was started by Rekha Gill and it's been spreading it's delicious cakes and putting smiles on peoples faces since 2012.<br/>
					<a href="{% url 'about' %}" style="text-decoration: inherit">Read more...</a><br/>
				</p>
			</div>
			<div class="col-sm-12 col-md-3 text-left">
				<h5 class="mb-2">Get in touch with us</h5>
				<p><i class="fas fa-phone mt-3 mr-2"></i> +91-9711002209</p>
				<p><i class="fas fa-phone mr-2"></i> +91-9873715977</p>
				<p><i class="fas fa-envelope mr-2"></i> boxofhappiness1@gmail.com</p>
			</div>
			<div class="col-sm-12 col-md-3 text-right">
				
				<h5>Check out our Pages</h5>
				<p><a href="https://www.instagram.com/box_of_happiness/" target="_blank" style="text-decoration:inherit;color: inherit"><i class="fab fa-instagram mt-3 mr-2"></i> Instagram</a></p>
				<p><a href="https://www.facebook.com/Box.o.Happiness/" target="_blank" style="text-decoration:inherit;color: inherit"><i class="fab fa-facebook-f mr-2"></i> Facebook</a></p>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="background-color:#61c0bf;">
		<div class="row">
			<div class="col-12 text-center pt-2">
				<small>
					<p>
						© 2019 Copyright: Box of Happiness<br/>Website developed by <a href="#" style="text-decoration:inherit;color: inherit;">Anshum Gill</a>
					</p>
				</small>
			</div>
		</div>
	</div>
</footer>
