{% extends 'base.html' %}

{% block content %}
<h1 class="display-4">About Us</h1>
<hr />
<div class="row">
	<div class="col-10 mx-auto">
		<p>
			Box of Happiness is a home bakery which was started by Rekha Gill and it's been spreading it's delicious cakes and putting smiles on peoples faces since 2012.<br/><br/>
			We specialize in our Custom Cakes and take pride in the fact that all our Cakes our Eggless and are made fresh for each order to ensure that each Customer gets a fresh taste each time they take a bite.<br/><br/>
			Ever saw a cake online and wondered if you could get that exact cake?<br/> 
			Contact us on Whatsapp and send that image and we will provide you with a custom quote for that cake.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-5 ml-auto">
		FSSAI Registration Number: 23318008000962
	</div>
	<div class="col-5 mr-auto">
		GSTIN: 07CRPPG3964D1ZM
	</div>
</div>
{% endblock %}